body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  min-height: 100%;
  padding-bottom: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  #main-footer {
    display: none;
  }

  #root {
    padding-bottom: 2em;
  }
}